{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
<section class='container  col-8'>
<form action="{% url 'minha_consulta' %}" method='POST' >
    {% csrf_token %}
    {% for feild in form.visible_fields  %}
        <div class='form-group'>
            <label for="{{feild.id_for_labek}}">{{feild.label}}</label>
            {{feild|add_class:'form-control'}}
        </div>
        {% for error in feild.errors  %}
           <section class='alert alert-danger' role='alert'>
                {{error}}
           </section>
        {% endfor %}
    {% endfor %}
    {% for feild in pessoa_form.visible_fields  %}
        <div class='form-group'>
            <label for="{{feild.id_for_labek}}">{{feild.label}}</label>
            {{feild|add_class:'form-control'}}
        </div>
        {% for error in feild.errors  %}
           <section class='alert alert-danger' role='alert'>
                {{error}}
           </section>
        {% endfor %}
    {% endfor %}
    <input type='submit' value='Ok' class='btn  btn-success' />
</form>
</section>
{% endblock  %}
