{% extends 'base.html' %}
{% block content %}
<section class='col-8'>
    <p>Sua origem é: {{ form.origem.value }}</p>
    <p>Seu Destino é: {{ form.destino.value }}</p>
    <p>Sua data de ida é: {{ form.data_ida.value }}</p>
    <p>Sua data de volta é: {{ form.data_volta.value }}</p>
    <p>Sua data de pesquisa é: {{ form.data_pesquisa.value }}</p>
    <p>Sua Classe de viagem é: {{ form.classe_viagem.value }}</p>
    <p>Sua Informações adicionais é: {{ form.informacoes.value }}</p>
    <p>Seu e-mail é: {{ pessoa_form.email.value }}</p>
</section>
{% endblock  %}
